/* Navbar */
@media (max-width: 450px) {
    .navbar-brand img {
      height: 100px !important;
      top: -13px !important;
    }
}

@media (min-width: 343px) and (max-width: 345px) {
    .navbar-brand img {
        height: 91px !important;
        top: -8px !important;
    }
}

@media (min-width: 485px) and (max-width: 767px) {
    .header-mail-number{
        display: flex;
        justify-content: end;
    }
}

.modearch_navbar .navbar-nav .nav-link.active{
    font-weight: 600;
}

.text-uppercase {
    text-transform: uppercase;
}
.nav-item{
    margin-right: .5rem !important;
}
  
@media (max-width: 991px) {
    .navbar-collapse {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.9); 
      z-index: 1000;
      padding: 10px;
    }
  }
  


/* Footer */
.footer-section{
    background: url('./images/footer/footernew.png') no-repeat center center/cover;
    position: relative;
}

.quick-link-ul{
    line-height: 2.2;
}

.footer-copyright-section{
    margin-bottom: -1rem;
}

.footer-padding{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}

@media (max-width: 574px) {
    .footer-padding{
        padding-top: 0.2rem !important;
    }
}