.who-we-are-para{
    border: 1px solid #fff;
    /* padding: 1.5rem 2rem 0rem 3rem; */
    padding: 1.1rem;
    border-radius: 1rem;
    text-align: justify;
}

@media (min-width: 768px) and (max-width: 1071px) {
  .who-we-are-para {
    height: 40vh;
    overflow-y: scroll;
    margin-bottom: 1rem;
  }
}

.vision-mission-para{
  font-size: 1.2rem;
}


 .vision-mission-section {
    background: linear-gradient(to bottom, #f8f9fa, #e9ecef);
    /* background: url('./images/about/Frame\ 29.png') no-repeat center center/cover; */
  }
  
  .shadow {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .mission-above-img{
    margin-left: 10rem;
    position: sticky;
    /* z-index: 1111; */
  }
  .vision-mission-row{
    /* margin-top: -1rem !important; */
    margin-top: -0.4rem !important;
  }
  .bottom-img{
    margin-top: -2.5rem;
  }
  .vision-mission-rounded{
    border-radius: 1.25rem !important;
  }

  /* .about-precision-steel-btn{
    top: 85%;
    left: 49%;
    font-weight: 700;
  } */

  .about-precision-steel-btn {
    top: 85%;
    left: 50%;
    font-weight: 700 !important;
    transform: translate(-61%, -50%) !important;
    white-space: nowrap !important; 
    padding: 10px 20px !important; 
  }

  .about-precision-steel-btn:focus {
    box-shadow: none;
  }

/* Adjustments for smaller screens */
@media (min-width: 769px) and (max-width: 824px) {
  .about-precision-steel-btn {
      transform: translate(-42%, -50%) !important;
  }
}

@media (min-width: 825px) and (max-width: 895px) {
  .about-precision-steel-btn {
      transform: translate(-45%, -50%) !important;
  }
}

@media (min-width: 894px) and (max-width: 982px) {
  .about-precision-steel-btn {
      transform: translate(-47%, -50%) !important;
  }
}

@media (min-width: 983px) and (max-width: 1066px) {
  .about-precision-steel-btn {
      transform: translate(-50%, -50%) !important;
  }
}

@media (min-width: 1067px) and (max-width: 1198px) {
  .about-precision-steel-btn {
      transform: translate(-54%, -50%) !important;
  }
}

@media (min-width: 768px) and (max-width: 768px) {
    .about-precision-steel-btn {
        top: 90%; 
        font-size: 14px; 
        padding: 8px 16px;
        transform: translate(-40%, -50%) !important;
    }
}

@media (min-width: 590px) and (max-width: 767px) {
  .about-precision-steel-btn {
      top: 90%; 
      font-size: 14px; 
      padding: 8px 16px;
      transform: translate(-18%, -50%) !important;
  }
}

@media (min-width: 481px) and (max-width: 591px) {
  .about-precision-steel-btn {
      top: 89%; 
      font-size: 14px; 
      padding: 8px 16px;
      transform: translate(-16%, -50%) !important;
  }
}

@media (max-width: 480px) {
    .about-precision-steel-btn {
        top: 89%;
        font-size: 12px;
        padding: 6px 12px;
        transform: translate(-16%, -50%) !important;
    }
}

@media (min-width: 1526px) and (max-width: 1611px) {
  .about-precision-steel-btn {
      transform: translate(-70%, -50%) !important;
  }
  }

  @media (min-width: 1612px) and (max-width: 1714px) {
    .about-precision-steel-btn {
        transform: translate(-70%, -50%) !important;
    }
    }

  @media (min-width: 1715px) and (max-width: 1850px) {
    .about-precision-steel-btn {
        transform: translate(-77%, -50%) !important;
    }
  }

  @media (min-width: 1851px) and (max-width: 2110px) {
    .about-precision-steel-btn {
        transform: translate(-86%, -50%) !important;
    }
  }

  @media (min-width: 2111px) and (max-width: 2211px) {
    .about-precision-steel-btn {
      transform: translate(-93%, -50%) !important;
    }
  }
  @media (min-width: 2212px) {
    .about-precision-steel-btn {
      transform: translate(-98%, -50%) !important;
    }
  }



/* About us btn above for hom */

.about-precision-steel-btn2 {
  top: 82%;
  left: 50%;
  font-weight: 700 !important;
  transform: translate(-59%, -50%) !important;
  white-space: nowrap !important; 
  padding: 10px 20px !important; 
}

.about-precision-steel-btn2:focus {
  box-shadow: none;
}

/* Adjustments for smaller screens */
@media (min-width: 769px) and (max-width: 824px) {
.about-precision-steel-btn2 {
    transform: translate(-42%, -50%) !important;
}
}

@media (min-width: 825px) and (max-width: 895px) {
.about-precision-steel-btn2 {
    transform: translate(-45%, -50%) !important;
}
}

@media (min-width: 894px) and (max-width: 982px) {
.about-precision-steel-btn2 {
    transform: translate(-44%, -50%) !important;
}
}

@media (min-width: 983px) and (max-width: 1066px) {
.about-precision-steel-btn2 {
    transform: translate(-50%, -50%) !important;
}
}

@media (min-width: 1067px) and (max-width: 1198px) {
.about-precision-steel-btn2 {
    transform: translate(-51%, -50%) !important;
}
}

@media (min-width: 768px) and (max-width: 768px) {
  .about-precision-steel-btn2 {
      top: 90%; 
      font-size: 14px; 
      padding: 8px 16px;
      transform: translate(-40%, -50%) !important;
  }
}

@media (min-width: 590px) and (max-width: 767px) {
.about-precision-steel-btn2 {
    top: 90%; 
    font-size: 14px; 
    padding: 8px 16px;
    transform: translate(-18%, -50%) !important;
}
}

@media (min-width: 481px) and (max-width: 591px) {
.about-precision-steel-btn2 {
    top: 89%; 
    font-size: 14px; 
    padding: 8px 16px;
    transform: translate(-16%, -50%) !important;
}
}

@media (max-width: 480px) {
  .about-precision-steel-btn2 {
      top: 89%;
      font-size: 12px;
      padding: 6px 12px;
      transform: translate(-16%, -50%) !important;
  }
}

@media (min-width: 1526px) and (max-width: 1611px) {
  .about-precision-steel-btn2 {
      transform: translate(-63%, -50%) !important;
  }
  }

  @media (min-width: 1612px) and (max-width: 1714px) {
    .about-precision-steel-btn2 {
        transform: translate(-66%, -50%) !important;
    }
    }

  @media (min-width: 1715px) and (max-width: 1850px) {
    .about-precision-steel-btn2 {
        transform: translate(-72%, -50%) !important;
    }
  }

  @media (min-width: 1851px) and (max-width: 2110px) {
    .about-precision-steel-btn2 {
        transform: translate(-78%, -50%) !important;
    }
  }

  @media (min-width: 2111px) and (max-width: 2211px) {
    .about-precision-steel-btn2 {
      top: 80%;
      transform: translate(-82%, -50%) !important;
    }
  }
  @media (min-width: 2212px) {
    .about-precision-steel-btn2 {
      top: 80%;
      transform: translate(-88%, -50%) !important;
    }
  }



/*  */
.cust-feedback-img{
  left: 83% !important;
}

.customer-feedback-section{
  margin-top: -4rem;
}
.customer-feedback-card-border-radius{
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 12px 7px;
}

.team-info-section{
  background-color: #000;
}