.blog_page_title{
    font-size: 1.2rem;
}
.blog_description{
    color: #3c4043;
}

.blog_read_more_btn:focus{
    box-shadow:none;
}
.blog_read_more_btn:active{
    border-color: transparent !important;
}

@media (min-width: 768px) {
    .blogcrd {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }
  