.project-img-effect{
    border-radius: 8px;
    box-shadow: 0 0.5rem 1.1rem rgba(0, 0, 0, .15);
}


.expertise-section {
    background-color: black;
    padding: 20px 0;
  }
  
  .expertise-logo {
    max-width: 150px;
    height: auto;
  }
  
  .expertise-h5 {
    font-size: 1.9rem;
    font-weight: 500;
  }


  .category-btn{
    box-shadow:none !important;
    font-size: 1.2rem;
  }

  .project_name{
    color: #000;
    font-weight: 700;
  }
  .see_more_btn{
    color: #000;
    font-weight: 700;
  }
  .see_more_btn:hover{
    color: #000;
  }

  .location_logo{
    max-width: 1.4rem;
  }

  /* @media (max-width: 555px) {
    .category_container .d-flex {
      flex-direction: column !important; 
      gap: 8px !important; 
    }
  } */

  .category_container {
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent items from wrapping */
    padding: 10px 0; /* Optional padding for spacing */
  }
  
  .category-btn {
    flex-shrink: 0; /* Prevent buttons from shrinking */
    margin: 0 10px; /* Optional spacing between the categories */
  }
  
  @media (max-width: 768px) { /* Adjust for smaller screens */
    .category_container {
      overflow-x: scroll; /* Ensure scrolling works on mobile */
    }
  
    .category-btn {
      min-width: 120px; /* Ensure buttons have a minimum width */
    }
    
  }

  @media (min-width: 768px) { /* Adjust for smaller screens */
    .category_container {
      justify-content: center;
    }
  }

  .project-card{
    margin-bottom: -2rem;
  }
  
  

  .expertise_lies_section{
    align-content: center;
  }
  .sds2NewLogo{
    border-right: 1px solid #000;
    /* margin-right: 2rem; */
  }
  .expertise_section{
    border: 1px solid #ADADAD;
    border-radius: 1rem;
    padding: 2rem;
  }

  @media (max-width: 574px) {
    .expertise_tekla_logo_sm{
      justify-content: center !important;
    }

    .sds2NewLogo {
      border-right: none;
    }
  }

  .our_expertise_border_projectdetails{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
  }