.gallery_card{
    border-radius: 1rem;
}
.gallery_img{
    border-radius: 1rem;
}
.gallery_btn{
    color: #000;
}
.gallery_btn:hover{
    color: #000 !important;
}
.gallery_btn:focus{
    box-shadow: none;
}
.gallery_btn:active{
    color: #000 !important;
}

.gallery_last_bg_color_sec{
    background-color: #D9D9D9;
    margin-top: -1.2rem;
}

.gallery_social_logo_shadow{
    box-shadow: 0 0.5rem 1.1rem rgb(0 0 0 / 24%) ;
}

.gallery_main_section{
    margin-top: -3rem;
}


/*  */

/* CSS to control image height based on viewport size */
@media (max-width: 768px) {
    .gallery_img {
      height: 150px; /* Smaller height on mobile */
    }
  }
  
  @media (min-width: 768px) {
    .gallery_img {
      height: 250px; /* Larger height on tablets and desktops */
    }
  }
  