.who-we-are-section {
    background-color: #1D1D1D;
    color: #fff;
    /* padding: 50px 0; */
  }
  
  /* .who-we-are-row {
    border: 4px dashed #fff;
    border-radius: 10px;
  } */

  .who_we_are_outer_padding{
    padding: 2rem 4rem 2rem 5rem;
  }

  @media (max-width:438px) {
    .who_we_are_outer_padding{
        padding: 2rem 1rem 2rem 1rem;
      }
  }

  .who-we-are-row {
    border-top: 2px dashed #fff;   
    border-left: 2px dashed #fff;  
    border-bottom: 2px dashed #fff; 
    border-right: none;            
    border-top-left-radius: 10px;  
    border-bottom-left-radius: 10px; 
  }

  .steel-structure-section-row{
    border-top: 2px dashed #000;   
    border-right: 2px dashed #000;  
    border-bottom: 2px dashed #000; 
    border-left: none;            
    border-top-right-radius: 10px;  
    border-bottom-right-radius: 10px; 
  }
  
  
  .image-column {
    display: flex;
    align-items: center; /* Vertically center the image */
    justify-content: center; /* Horizontally center the image */
  }
  
  .text-column {
    display: flex;
    align-items: center;
  }
  
  .text-content-wrapper {
    width: 100%;
  }
  
  .text-content-wrapper h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    /* text-align: left; */
  }
  
  .bordered-text {
    border: 1px solid #ddd; 
    /* padding: 20px; */
    /* padding: 3rem 1rem 2rem 3rem; */
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 14px;
    margin-bottom: 30px;
  }
  
  .bordered-text p {
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
  }
  
  .learn-more-button {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    .who-we-are-row {
      /* Stack columns on smaller screens */
      /* flex-direction: column;  */
      flex-direction: row;
    }
  
    .image-column,
    .text-column {
      width: 100%; /* Full width on smaller screens */
    }
  
    .text-content-wrapper h2 {
      text-align: center;
    }
  }


  @media (max-width: 1069px) {
    .bordered-text {
        padding: 1rem 1rem 1rem 1rem;
      }
  }


  .button_align_left{
    margin-left: -0.8rem;
  }
  .button_align_left:focus{
    box-shadow: none;
  }
  .button_align_left:active{
    border-color: transparent !important;
  }

  .about-precision-steel-btn:focus{
    box-shadow: none;
  }
  .about-precision-steel-btn:active{
    border-color: transparent !important;
  }

  @media (max-width: 768px) {
    .about-precision-steel-btn{
        font-size: 9px;
      }
    .about-precision-steel-btn-icon{
        max-width: 15px;
    }
  }

  /* .steel-structure-section{
    background-color: #EFEFEF;
  } */

  .steel-detailing-section{

    background-color: #EFEFEF;
  }
  .steel-structure-section-outer-padding{
    padding: 2rem 4rem 2rem 5rem;
  }

  @media (max-width:438px) {
    .steel-structure-section-outer-padding{
        padding: 2rem 1rem 2rem 1rem;
      }
  }


  .who-we-are-section{
    /* background: url('./images/home/test.png') no-repeat center center/cover; */
    /* border-radius: 1.4rem; */
  }

  .steel-structure-section{
    /* background: url('./images/home/steelStru.png') no-repeat center center/cover; */
    /* border-radius: 1.4rem; */
  }

  .client-feedback-home{
    margin-top: -3rem !important;
  }

  .detailing_crafts_section{
    background: url('./images/home/detailingCarft.png') no-repeat center center/cover;
  }

  .detailing_crafts_check_out_btn{
    margin-left: -0.8rem;
  }

  .certified_text_div{
    align-content: center;
  }

  .certified_para{
    color: #8E8E8E;
  }

  .certified_text_border{
    border: 1px solid #CECECE;
    border-radius: 1rem;
    padding: 2rem;
  }

  .stat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    }

    .stat-icon-text {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .stat-icon {
        font-size: 24px;
    }

    .numbers-section{
        background: url('./images/home/numbers.png') no-repeat center center/cover;
    }
    
    .number-section-border{
        /* border-left: 1px solid #000; */
        border-right: 1px solid #000;
    }

    .craftsmanship-text{
      padding-left: 4rem !important;
    }

    @media (max-width: 768px) {
      .craftsmanship-text{
        padding-left: 0rem !important;
        padding: 1rem !important;
      }
    }

    @media (max-width: 767px) {
      .certified_text_border{
        margin-top: 1.5rem !important;
      }
    }

    @media (min-width: 768px) and (max-width: 768px) {
      .certified_text_border{
        margin-top: 1.5rem !important;
        margin-bottom: 1.5rem !important;
      }
    }


    /* faq */

    @media (max-width: 588px) {
      .slick-prev {
        left: -2px !important;
      }
      .slick-next {
        right: -2px !important;
      }
    }

    @media (width: 768px) and (height: 1024px) {
      .slick-prev {
        left: -18px !important;
      }
      .slick-next {
        right: -18px !important;
      }
    }
    

    /*  */

    .underline_animation:hover{
      cursor: pointer;
    }
    
    .underline_animation::before {
      content: "";
      /* width: 100%; */
      width: 82%;
      height: 5%;
    
      background-color: white;
      position: absolute;
      bottom: 0%;
      left: -100%;
      transition: all 0.7s;
    }
    
    .underline_animation:hover::before {
      /* left: 0%; */
      left: 10%;
    }

    .underline_animation {
      /* font-family: "Reddit Mono", monospace; */
      /* font-weight: 700; */
      position: relative;
      overflow: hidden;
    }

    /*  */

    .get_in_touch_underline_animation:hover{
      cursor: pointer;
    }
    
    .get_in_touch_underline_animation::before {
      content: "";
      /* width: 100%; */
      width: 81%;
      height: 5%;
    
      background-color: #000;
      position: absolute;
      bottom: 0%;
      left: -100%;
      transition: all 0.7s;
    }
    
    .get_in_touch_underline_animation:hover::before {
      /* left: 0%; */
      left: 9%;
    }

    .get_in_touch_underline_animation {
      /* font-family: "Reddit Mono", monospace; */
      /* font-weight: 700; */
      position: relative;
      overflow: hidden;
    }

        /*  */

        .get_in_white_underline_animation:hover{
          cursor: pointer;
        }
        
        .get_in_white_underline_animation::before {
          content: "";
          /* width: 100%; */
          width: 75%;
          height: 5%;
        
          background-color: white;
          position: absolute;
          bottom: 0%;
          left: -100%;
          transition: all 0.7s;
        }
        
        .get_in_white_underline_animation:hover::before {
          /* left: 0%; */
          left: 12%;
        }
    
        .get_in_white_underline_animation {
          /* font-family: "Reddit Mono", monospace; */
          /* font-weight: 700; */
          position: relative;
          overflow: hidden;
        }

    /*  */

    .read_blog_underline_animation:hover{
      cursor: pointer;
    }
    
    .read_blog_underline_animation::before {
      content: "";
      /* width: 100%; */
      width: 85%;
      height: 5%;
    
      background-color: #000;
      position: absolute;
      bottom: 0%;
      left: -100%;
      transition: all 0.7s;
    }
    
    .read_blog_underline_animation:hover::before {
      /* left: 0%; */
      left: 7%;
    }

    .read_blog_underline_animation {
      /* font-family: "Reddit Mono", monospace; */
      /* font-weight: 700; */
      position: relative;
      overflow: hidden;
    }

      /*  */

      .join_team_underline_animation:hover{
        cursor: pointer;
      }
      
      .join_team_underline_animation::before {
        content: "";
        /* width: 100%; */
        width: 90%;
        height: 5%;
      
        background-color: #000;
        position: absolute;
        bottom: 0%;
        left: -100%;
        transition: all 0.7s;
      }
      
      .join_team_underline_animation:hover::before {
        /* left: 0%; */
        left: 4%;
      }
  
      .join_team_underline_animation {
        /* font-family: "Reddit Mono", monospace; */
        /* font-weight: 700; */
        position: relative;
        overflow: hidden;
      }

    /*  */
    .contact_us_underline_animation:hover{
      cursor: pointer;
    }
    
    .contact_us_underline_animation::before {
      content: "";
      /* width: 100%; */
      width: 24%;
      height: 8%;
    
      background-color: #000;
      position: absolute;
      bottom: 0%;
      left: -100%;
      transition: all 0.7s;
    }
    
    .contact_us_underline_animation:hover::before {
      /* left: 0%; */
      left: 0%;
    }

    .contact_us_underline_animation {
      /* font-family: "Reddit Mono", monospace; */
      /* font-weight: 700; */
      position: relative;
      overflow: hidden;
    }

    /*  */
    .see_more_underline_animation:hover{
      cursor: pointer;
    }
    
    .see_more_underline_animation::before {
      content: "";
      /* width: 100%; */
      width: 98%;
      height: 8%;
    
      background-color: #000;
      position: absolute;
      bottom: 0%;
      left: -100%;
      transition: all 0.7s;
    }
    
    .see_more_underline_animation:hover::before {
      /* left: 0%; */
      left: 0%;
    }

    .see_more_underline_animation {
      /* font-family: "Reddit Mono", monospace; */
      /* font-weight: 700; */
      position: relative;
      overflow: hidden;
    }

    /*  */

    .see_more_gallery_underline_animation:hover{
      cursor: pointer;
    }
    
    .see_more_gallery_underline_animation::before {
      content: "";
      /* width: 100%; */
      width: 80%;
      height: 5%;
    
      background-color: #000;
      position: absolute;
      bottom: 0%;
      left: -100%;
      transition: all 0.7s;
    }
    
    .see_more_gallery_underline_animation:hover::before {
      /* left: 0%; */
      left: 9%;
    }

    .see_more_gallery_underline_animation {
      /* font-family: "Reddit Mono", monospace; */
      /* font-weight: 700; */
      position: relative;
      overflow: hidden;
    }

    /*  */

    .read_more_underline_animation:hover{
      cursor: pointer;
    }
    
    .read_more_underline_animation::before {
      content: "";
      /* width: 100%; */
      width: 80%;
      height: 4%;
    
      background-color: #000;
      position: absolute;
      bottom: 0%;
      left: -100%;
      transition: all 0.7s;
    }
    
    .read_more_underline_animation:hover::before {
      /* left: 0%; */
      left: 9%;
    }

    .read_more_underline_animation {
      /* font-family: "Reddit Mono", monospace; */
      /* font-weight: 700; */
      position: relative;
      overflow: hidden;
    }

    /*  */
    .read_more_white_underline_animation:hover{
      cursor: pointer;
    }
    
    .read_more_white_underline_animation::before {
      content: "";
      /* width: 100%; */
      width: 80%;
      height: 4%;
    
      background-color: #fff;
      position: absolute;
      bottom: 0%;
      left: -100%;
      transition: all 0.7s;
    }
    
    .read_more_white_underline_animation:hover::before {
      /* left: 0%; */
      left: 9%;
    }

    .read_more_white_underline_animation {
      /* font-family: "Reddit Mono", monospace; */
      /* font-weight: 700; */
      position: relative;
      overflow: hidden;
    }

    /*  */

    /*  */

    .submit_btn_underline_animation:hover{
      cursor: pointer;
    }
    
    .submit_btn_underline_animation::before {
      content: "";
      /* width: 100%; */
      width: 66%;
      height: 5%;
    
      background-color: #000;
      position: absolute;
      bottom: 0%;
      left: -100%;
      transition: all 0.7s;
    }
    
    .submit_btn_underline_animation:hover::before {
      /* left: 0%; */
      left: 16%;
    }

    .submit_btn_underline_animation {
      /* font-family: "Reddit Mono", monospace; */
      /* font-weight: 700; */
      position: relative;
      overflow: hidden;
    }
    
    /*  */

    @media (max-width: 768px) {
      .home-precision-img{
        margin-top: -2.5rem;
      }
    }

    @media (max-width: 768px) {
      .certified_text_border {
        margin-top: 1.5rem ;
        /* margin-bottom: 1.5rem ; */
      }

    }

    @media (min-width: 769px) and (max-width: 1152px) {
      .certified_text_border {
        margin-top: 1.5rem ;
        margin-bottom: 1.5rem ;
      }

    }

    @media (max-width: 768px) {
      .craftsmanship_section{
        margin-top: -4rem;
      }
    }

    @media (max-width: 766px) {
      .numbers-section{
        margin-top: -6rem;
      }
    }