.service-line-circle{
    border: 2px solid #D5D5D5 !important;
    border-radius: 50%;
    position: relative;
    background-color: #585858 !important;
    width: 20px;
    height: 20px;
}

.service-years-bg-color{
    background-color: #585858 !important;
    color: #fff;
}

.first-circle{
    background-color: #fff !important;
    border: 2px solid #fff !important;
}

@media (max-width: 767px){
    .mobile-total-year{
        text-align: end;
    }
    .mobile-subheading{
        text-align: end;
    }
    .mobile-para{
        text-align: left;
    }

    .service-right-side{
        margin-left: 0rem !important;
        border-radius: 1rem !important;
    }
    
    .service-left-side{
        margin-right: 0rem !important;
        border-radius: 1rem !important;
    }
    
}

.service-right-side{
    margin-left: -0.5rem;
    border-radius: 1rem;
}

.service-left-side{
    margin-right: -0.5rem;
    border-radius: 1rem;
}


.service-section-container{
    position: relative;
    top: 10rem;
}
.sevices-bg-img{
    background: url('./images/service/services-bg-img.png');
    /* background-size: contain; */
    background-size: cover;
    position: relative;
    bottom: 11rem;
}

.service-faq{
    background: url('./images/service/services-faq.png');
    background-size: cover;
}

@media (min-width: 774px) and (max-width: 1152px){
    .service-section-container{
        position: relative;
        top: 8rem;
    }
    .sevices-bg-img{
        background: url('./images/service/services-bg-img.png');
        background-size: contain;
        position: relative;
        bottom: 8rem;
    }
}

@media (min-width: 586px) and (max-width: 775px){
    .service-section-container{
        position: relative;
        top: 6rem;
    }
    .sevices-bg-img{
        background: url('./images/service/services-bg-img.png');
        background-size: contain;
        position: relative;
        bottom: 7rem;
    }
}

/* @media (min-width: 304px) and (max-width: 587px){
    .service-section-container{
        position: relative;
        top: 2rem;
    }
    .sevices-bg-img{
        background: url('./images/service/services-bg-img.png');
        background-size: contain;
        position: relative;
        bottom: 0rem;
    }
} */

@media (max-width: 587px){
    .service-section-container{
        position: static;
        top: 0rem;
    }
    .sevices-bg-img{
        background: none;
        /* background-size: contain; */
        position: static;
        bottom: 0rem;
    }
}

