.submit-button {
    background-color: transparent;
    color: #000;
    font-weight: bold;
    font-size: 16px;
    border: none;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .submit-button .arrow {
    font-size: 18px;
    /* margin-left: 5px; */
  }
  
  .submit-button:hover {
    opacity: 0.8;
  }
  
  /*  */